<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
    <ion-button>
      <ion-back-button style="color: white;">Atras</ion-back-button>
    </ion-button>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input placeholder=""></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña </ion-label>
    <ion-input type="password" value=""></ion-input>
  </ion-item>
  <br>
  <ion-label>Si no tienes presiona "Registro"</ion-label>
  <br>
  <br>
  <ion-button [routerLink]="['/registro']">registro</ion-button>
  <ion-button [routerLink]="['/menu']">Inicio</ion-button>

</ion-content>
